html, body {
	height: 100%;
	margin: 0;
	padding: 0; }
body {
	background-image:url(images/bg.jpg);
	background-repeat:repeat; }
h1 {
	width: 492px;
	padding-top: 4px;
	padding-left: 8px;
	border-bottom: 2px solid #0A67E6;
	font-family: "Trebuchet MS";
	letter-spacing:-1px;
	font-size: 12px;
	font-weight: bold;
	text-align: left; }
p { 
	padding: 10px;
	font-family: Microsoft Sans Serif,Arial;
	font-size: 11px; }
* html #box { 
	height: 100%; }

#box {
	position: absolute;
	border-left: 4px solid #FDCB07;
	border-right: 4px solid #FDCB07;
	left: 50%;
	width: 500px;
	min-height: 100%;
	margin-top: 0px;
	margin-left: -250px;
	color: #ffffff;
	background-color: #FCFEFF; }

#navcontainer {
	height: 45px;
	width: 492px;
	margin: 4px 0 0 0;
	padding: 0 0 8px 0; }

#navcontainer ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: none; }

#navcontainer li {
	display: block;
	height: 80px;
	width: 60px;
	margin: 0;
	padding: 0;
	float: left; }

#navcontainer a {
	display: block;
	color: #FFFFFF;
	background-color: #70BD07;
	height: 60px;
	width: auto;
	margin: 0;
	padding: 2px 1px 1px 2px;
	border-right: 2px solid #555555;
	border-left: 2px solid #555555;
	border-bottom: 2px solid #555555; }
p{
	font-family: "Trebuchet MS",Arial;
	font-size: 12px;
	margin-left: 4px; }
#navcontainer a.active:link, #navcontainer a.active:visited {
	position: relative;
	border-top: 3px;
	background: #70BD07; }
#navcontainer a:hover, #navcontainer a:active {
	background-color: #424242; }

#main {
	position: relative;
	color: #555;
	background-color: transparent;
	min-height: 100%;
	width: 320px;
	margin-top: 10px; 
	margin-bottom: 80px;}

#main a {
	color: #70BD07;
	background-color: #FFFFFF;
	font-family: "Trebuchet MS",Arial;
	font-size: 12px; }
#main a:active, a:link, a:visited {
	color: #70BD07;
	background-color: #FFFFFF;
	font-family: "Trebuchet MS",Arial;
	font-size: 12px; }
	text-decoration: none; }
#main a:hover {
	color: #70BD07;
	background-color: #FFFFFF;
	font-family: "Trebuchet MS",Microsoft Sans Serif,Arial;
	font-size: 12px;
	text-decoration: underline; }

#footer {
	position: absolute;
	color: #555555;
	font-family: Microsoft Sans Serif,Arial;
	font-size: 10px;
	background-color: #EC008C;
	height: 25px;
	width: 98.5%;
	bottom: 0;
	border-right: 4px solid #70BD07;
	border-left: 4px solid #70BD07;
	border-top: 1px solid #70BD07;
	padding-top: 5px;
	text-align: center; }

.footer a {
	color: #505050;
	background-color: #EC008C;
	padding: 0;
	font-family: Microsoft Sans Serif,Arial;
	font-size: 10px; }
.footer a:active, a:link, a:visited {
	color: #505050;
	background-color: #EC008C;
	font-family: Microsoft Sans Serif,Arial;
	font-size: 10px;
	text-decoration: none; }
.footer a:hover {
	color: #858585;
	background-color: #EC008C;
	font-family: Microsoft Sans Serif,Arial;
	font-size: 10px; }